/node_modules/*
_book/*
docs/.vuepress/dist
.vuepress/dist/*
SUMMARY.pdf
SUMMARY.html
_.log
.DS_Store
.idea/
metastore_db/
tmp/
target/
_.pyc
_.bak
.tox/_
_.zip
_.gz
_.iml
build/
_pycache_
dist/
.pynb_checkpoints/
