/*修改sidebar宽度*/
.sidebar{
  width: 25rem
}
/*修改内容区最大宽度*/
.content:not(.custom){
  max-width: 1040px
}
/*修改内容区和sidebar之间的间距*/
.page{
  padding-left: 15rem
}

/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.theme-container.markdown-preview{
    background-color: rgb(243, 242, 238)


}

blockquote
  font-size 1rem
  color #2c3e50;
  border-left .5rem solid #42b983
  background-color #f3f5f7
  margin 1rem 0
  padding 1rem 0 1rem 1rem

  & > p
    margin 0

